section {
  padding: calc(6em + 5vw) 5vw 8vw 5vw;
  /* ! Everything below is needed ! */
  display: none;
  min-height: 100vh;
}

section:target {
  /* Show section */
  display: block;
}

section#start-of-slide {
  display: block;
}

/* When a section is shown, hide default home section */
section:target ~ section#start-of-slide {
  display: none;
}
