body {
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  display: none;
}

section:target {
  display: block;
}

section#start-of-slide {
  display: block;
}

section:target ~ section#start-of-slide {
  display: none;
}
